<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a Card</title>
  <meta name="author" content="Thomas A Davis (tad8tt) Adi Sapre (ads4dv)">
  <meta name="description" content="Page to add credit cards to an account.">
  <!--- used bootstrap buttons and inputs on this page, as well as the nav bar CSS --->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <script src ="js/index.js"></script>
  <link rel="stylesheet" href="C:\xampp\htdocs\Churn\styles\index.css">

</head>
<body>


<header style="padding-bottom:25px;">
    <!--top navigation bar. Customized template from bootstrap-->

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e51e17"> <!--red background-->
        <a class="navbar-brand" href="#"> <!--implementation of logo-->
            <img src="http://localhost/Churn/img/churn.jpeg" width="40" height="40" alt="churn_logo">
            Churn
        </a>
        <div class="navbar"> <!--navigation menu in the top bar-->
            <ul class="navbar-nav"> <!--list of navigation items-->
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost/Churn/index.php" class="nav">Home</a> <!--links to index-->
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="addCard.php" class="nav" style="cursor: pointer">Add a Card</a> <!--adds a card on this page-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost/Churn/help.html" class="nav">Help</a> <!--links to help page-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost/Churn/php/logout.php" class="nav">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<h1 [ngStyle]="{'color':'magenta'}" class="centerer">{{title}}</h1>
<form name="cardInfo" method="get" class="centerer" action="php/cardAdder.php"> <!--angular form- form modules--->

    <div class="form-group col-md-6" style="padding: 25px 100px 20px 100px position: absolute; left: 25%;"><!--selector for model of card-->
        <label for="cardModel">Credit Card Model</label>
        <select id="cardModel" name="cardModel" class="custom-select" data-live-search="true" required>
            <option value="">Choose...</option>
            <option>Discover IT</option>
            <option>Amazon Prime Rewards Visa Signature</option>
            <option>Chase Freedom Unlimited</option>
            <option>Chase Freedom</option>
            <option>Chase Sapphire Preferred</option>
            <option>Chase Sapphire Reserve</option>
        </select>
    </div>

    <div class="form-group col-md-6" style="padding: 25px 100px 20px 100px position: absolute; left: 25%;"><!--selector for card rewards-->
            <label for="cardRewards">Credit Card Rewards</label>
            <select id="cardRewards" name="cardRewards" class="custom-select" data-live-search="true" required>
                <option value="">Choose...</option>
                <option>5% cashback Restaurants, 3% cashback Grocery Stores, 1% cashback elsewehere</option>
                <option>5% cashback Amazon, 2% cashback Restaurants, 1% cashback elsewhere</option>
                <option>1.5% cashback everywhere</option>
                <option>5% cashback Restaurants Jan-Jun, 5% cashback Gas Stations Jul-Dec</option>
                <option>4X points Dining, 3X points travel, 2X points elsewhere</option>
                <option>1X points everywhere</option>
            </select>
        </div>

    <div class="form-group col-md-6" style="padding: 25px 100px 20px 100px position: absolute; left: 25%;"><!--selector for card balance-->
        <label for="cardBalance">Credit Card Balance</label>
        <input type="number" id="cardBalance" name="cardBalance" class="form-control" placeholder="Current balance on card..." required/>

    </div>

    <div class="form-group col-md-6" style="padding: 25px 100px 20px 100px position: absolute; left: 25%;"><!--selector for card limit-->
        <label for="cardLimit">Credit Card Limit</label>
        <input type="number" id="cardLimit" name="cardLimit" class="form-control" placeholder="Maximum chargeable amount to card..." required/>

    </div>

    <input type="hidden" name="username" id="username" value="<?php echo $_SESSION['user'];?>"><!--inputs the username for proper display in index table-->

    <button type="submit" class="btn btn-primary">Submit</button><!--submit card data-->
</form>


</body>


</html>
